.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}  

.chart{
    width: 400px;
    height: 400px;
    margin-left: 10px;
  }

.chart_full{
    width: 800px;
    height: 400px;
    margin-left: 10px;
}

